{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
    {% if validlink %}
        <div class="col-4">
        <p>Пожалуйста введите ваш новый пароль дважды:</p>
        <form action="." method="post">
            {{ form|crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Изменить пароль</button>
        </form>
        </div>
    {% else %}
        <p>Ссылка для сброса пароля устарела. Ппопробуйте произвести сброс пароля еще раз.</p>
    {% endif %}
{% endblock %}