/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  text-align: center;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/*  Admin panel CSS */

.admin-panel {
  border: 1px solid #999;
  border-radius: 10px;
  position: fixed;
  right: 50px;
  bottom: 80px;
  opacity: 0.3;
  padding: 15px;
}
.admin-panel:hover{
  opacity: 1;
}
.admin-panel a {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}