<header>
    <nav class="navbar navbar-expand-lg navbar-light mb-4" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="{% url 'index' %}">Блог</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Главная<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'tag_list_url' %}">Теги</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
            </form>
        {% if user.is_authenticated %}
            <p class="m-2 my-lg-1"><a href="#">Профиль</a></p>
            <p class="m-2 my-lg-1"><a href="{% url 'logout' %}">Выход</a></p>
        {% else %}
            <p class="m-2 my-lg-1"><a href="{% url 'login' %}">Вход</a></p>
            <p class="m-2 my-lg-1"><a href="{% url 'login' %}">Регистрация</a></p>
        {% endif %}
        </div>

    </nav>
</header>