<div class="card mb-4">
    <div class="card-header">
        {{ post.title }}
    </div>
    <div class="card-body">
        <p class="card-text">{{ post.preview_text }}</p>
        <div class="d-inline text-right"><a href="{% url 'post_details_url' slug=post.slug %}" class="btn btn-primary">Читать</a></div>
    </div>
    <div class="card-footer">

        <div class="row">
            <div class="col">
                <div class="col">
                    <div class="text-right">Дата публикации: {{ post.created }}</div>
                </div>
                <div class="col text-right">
                    {% for tag in post.tags.all %}
                        <a href="{% url 'tag_posts_page_url' slug=tag.slug %}"
                           class="badge badge-primary d-inline">#{{ tag.name|lower }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>