{% extends 'blog/base.html' %}

{% block title %}
    {{ post.title }}

{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-6">Дата публикации: {{ post.created }} Просмотров: {{ post.views }}</div>
        <div class="col-6 text-right">
            {% for tag in post.tags.all %}
                <a href="{{ tag.get_absolute_url }}"
                   class="badge badge-primary d-inline">#{{ tag.name|lower }}</a>
            {% endfor %}
        </div>
    </div>
    <p class="mt-4">{{ post.text }}</p>
{% endblock %}